# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# MLflow local tracking
mlruns/
mlflow.db

# Large/local data files
data/raw/
*.db

# OS files
.DS_Store
Thumbs.db

# Temporary test outputs
test_run/

# IDE files
.vscode/
.idea/

# Processed model arrays
data/processed/*.npy